body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  /* overflow: auto; */
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: scroll;
  /*background: var(--color-dark-primary);*/
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #05EBFF;
  border-radius: 12px;
  height: 200px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

* {
  outline: none;
  box-sizing: border-box;
}

#__next {
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
  }
}